<div class="px-4 ml-sm-auto">
  <div class="d-flex justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Listas de Interesse</h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="table-responsive col-9">
    <table class="table table-striped table-sm border table-hover shadow-sm">
      <tr>
        <th>Usuário</th>
        <th>Cargo</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.job}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row justify-content-center">
  <div class="table-responsive col-9">
    <table class="table table-striped table-sm border table-hover shadow-sm">
      <tr>
        <th>Usuário</th>
        <th>Area de Interesse</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.interest}}</td>
      </tr>
    </table>
  </div>
</div>