<nav #sideMenu id="sideMenu">
  <div class="text-center mx-auto">
    <img src="/src/assets/img/avatar-profile.png" class="rounded-circle img-thumbnail" alt="Imagem padrão">
    <h2 class="my-1">Usuário</h2>
    <p class="my-1">Email</p>
  </div>
  <hr class="bg-white">
  <div class="text-center mx-auto">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link" data-toggle="pill" href="#" role="tab">Home</a>
      <a class="nav-link" data-toggle="pill" href="#" role="tab">Profile</a>
      <a class="nav-link" data-toggle="pill" href="#" role="tab">Messages</a>
      <a class="nav-link" data-toggle="pill" href="#" role="tab">Settings</a>
    </div>
  </div>
</nav>